doctype html
html(lang='sv')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title ---=== EN LITEN ROBOT ===---
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous')
    link(rel='stylesheet' href='js/lib/jquery-ui/themes/smoothness/jquery-ui.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    .container
      .row
        .col-sm-3
        .col-sm-6  
          form(action='/' method='post')
            label(for='municipality') Jag vill läsa om arbetslösheten i: 
            input(type='text' name='municipality' id='municipality' value='Ange en kommun' size='15')
            input(type='submit' value='Skriv text')
          
          if municipality
            if validChoice
                - var startOfHeadline = capitalizeFirstLetter(getAdjective(change))
                h1 #{startOfHeadline} arbetslöshet i #{municipality}
                if change == 0
                  p.
                    I mars 2016 uppgick arbetslösheten i #{municipality} till 
                    #{formatPercentage(unemployed2016)} procent, en oförändrad nivå 
                    jämfört med motsvarande månad året före.
                else
                  p.
                    I mars 2016 uppgick arbetslösheten i #{municipality} till 
                    #{formatPercentage(unemployed2016)} procent, en 
                    #{getNoun(change)} med #{formatPercentage(change)} 
                    procentenheter jämfört med motsvarande månad året före.
                p.
                  Om landets kommuner rangordnas efter hur pass låg arbetslösheten 
                  är så hamnar #{municipality} på plats #{rank} av 290.
                p.
                  Arbetslösheten bland kvinnor i #{municipality} var  
                  #{formatPercentage(unemployedWomen2016)} procent i mars 2016. 
                  Bland männen uppgick arbetslösheten till 
                  #{formatPercentage(unemployedMen2016)} procent.
                  Ett år tidigare var #{formatPercentage(unemployedWomen2015)} 
                  procent av kvinnorna och 
                  #{formatPercentage(unemployedMen2015)} procent av männen 
                  arbetslösa.
                if totals.change == 0
                  p.
                    Totalt i hela landet så var 
                    #{formatPercentage(totals.unemployed2016)} procent arbetslösa 
                    i mars 2016, vilket är en lika stor andel som under samma 
                    månad 2015.
                else
                  p.
                    Totalt i hela landet så var 
                    #{formatPercentage(totals.unemployed2016)} procent arbetslösa 
                    i mars 2016, en #{getNoun(totals.change)} med 
                    #{formatPercentage(totals.change)} procentenheter jämfört med
                    samma månad 2015.
                p
                  em Källa: Kolada, Arbetsförmedlingen, SCB
            else
              p Det finns ingen kommun som heter #{municipality}.
        .col-sm-3

    script(src='js/lib/jquery/dist/jquery.min.js')
    script(src='js/lib/jquery-ui//jquery-ui.min.js')
    script(src='js/scripts.js')
